# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Virtual Environments
.venv/
env/
venv/

# Hydra
outputs/
multirun/

# Environment
.env

# Logs
*.log
*.err

# OS Files
.DS_Store
Thumbs.db

# Data
data/*
!data/.gitkeep

# Visual Studio
.vscode/